
venv
Data
*.pyc
.idea
.spec
_*
_tester.ipynb
_tester.ipynb
dist
_demo_terminal.py
Sketch-Sheet.xlsx
.DS_Store
Build/eHRAF_Scraper.ipynb
Analysis/_Stats_CultureSplitter.ipynb
Analysis/Cleaned_Altogether.csv
